* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.main-contanier {
  width: auto;
  font-family: roboto;
  position: relative;
}

.section1 {
  background-color: #eef1f6;
}
.hero-flex {
  width: 900px;
}
.ready-to-lunch-flex {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 150px;
}
.feedBack30k {
  display: flex;
}
.p-feedback30k {
  margin-top: 10px;
}
.ver-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 65px;
}
#mar-top {
  margin-top: 30px;
}
.span-30k {
  font-weight: bold;
  font-size: 20px;
  color: #000;
}
.application {
  display: block;
  font-size: 50px;
  font-weight: bold;
  color: #0e1133;
}
.p-ready {
  font-size: 50px;
  margin-top: 40px;
}
/* .p-find {
} */
.searchbar {
  border-radius: 30px;
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;

  padding: 15px 60px;
  border-left: 4px solid #ff3e66;
}
.photo {
  width: 40px;
  border-radius: 50px;
  margin-left: -20px;
  border: 3px solid #fff;
}

header a:link
/* a:visited,
a:hover,
a:visited */ {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.buttons {
  padding: 20px 30px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(255, 62, 102, 255);
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 40px;
  top: 1px;
  margin-top: 30px;
}
.logo-1 {
  margin-top: 30px;
}

.header-ankers {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: 60px;
}

div p {
  color: #0e1133;
}
section h2 {
  color: #0e1133;
  font-size: 36px;
  font-weight: bold;
  margin: 15px;
  margin-left: 30px;
}
.sime-head {
  font-size: 16px;
  color: #00000049;
  margin-top: 10px;
  margin-left: 10px;
}
.anker-features:link {
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(107, 107, 107, 0.274);
  font-size: 15px;
  position: absolute;
  right: 1px;
  top: 0.25px;
  margin-top: 25px;
}
.section2 {
  position: relative;
}
h3 {
  font-size: 26px;
  color: #151839;
  margin-bottom: 30px;
}
.info-group {
  font-size: 16px;
  color: #00000073;
  margin-bottom: 30px;
}
.read-more-group:link {
  text-decoration: none;
  color: #0000006e;
}
.how-it-works-group {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 75px;
  justify-content: center;
  margin-top: 30px;
}
.each-group {
  border: 2px solid rgba(107, 107, 107, 0.274);
  border-radius: 20px;
  padding: 72px 42px;
}

.marketing-section {
  background-color: #f0f1f7;
  /* width: 1200px;
  height: 800px; */
  margin: 60px 60px;
  display: flex;
}

.test {
  color: #fe4c71;
  font-weight: 550;
  margin-top: 60px;
  margin-bottom: 15px;
  margin-left: 37px;
  display: inline-block;
}
.head-marketing {
  font-size: 64px;
  /* line-height: 0.55px; */
  word-spacing: 5px;
}

.img-marketing {
  margin-right: 30px;
  max-height: 300x;
  max-width: 500px;
  overflow: hidden;
  display: inline-block;
}

.side-marketing-flex {
  display: flex;
  justify-items: center;
  margin-top: 60px;
  gap: 75px;
}
.correct-icon {
  width: 30px;
  height: 30px;
  stroke: green;
}
.icons-flex-marketing {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.section3 {
  background-color: rgba(14, 17, 51, 255);
  margin-top: 100px;
  width: auto;
  height: 800px;
  margin-bottom: 100px;
}
.p-1t {
  inline-size: 360px;
  writing-mode: horizontal-tb;
}
.flex-head-center {
  margin-top: 50px;
  /* display: inline-block; */
  /* border: #000 solid 1px; */
  padding-top: 70px;
}

.head-center {
  color: #fff;
  font-weight: bold;
  font-size: 44px;
  /* margin-left: 340px; */
  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
}
.semi-head-center {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 60px;
}
.us-tmm {
  margin-top: -22px;
}

.list-adv {
  display: grid;
  grid-template-columns: 400px auto;
  justify-content: center;
  /* align-items: center; */
  /* margin-left: 50px; */
  gap: 100px;
}

.list {
  list-style: none;
  margin-bottom: 20px;
  /* display: flex; */
  flex-wrap: wrap;
  display: inline-block;
  /* margin-left: 50px; */
  /* block-size: fit-content; */
  /* justify-content: center; */
  text-align: justify;
}

.head-list-adv {
  color: #fff;
  font-size: 26px;
}
.semi-head-list-adv {
  color: rgba(255, 255, 255, 0.24);
}

.point-list {
  /* display: inline-block; */
  margin-bottom: 25px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  /* padding: auto; */
  border-radius: 5px;
  display: flex;
  /* block-size: fit-content; */
  text-align: center;
}

.list-section4 {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px; */
  list-style: none;
  margin-bottom: 100px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.point-list-section4 {
  box-shadow: 12px 12px 2px 1px rgba(186, 187, 186, 0.158);
  padding: 30px 30px;
  justify-self: center;
  align-items: center;

  /* border-radius: 15px; */
}

.inpoint-list {
  font-size: 26px;
  font-weight: bold;
}
.semi-inpoint-list {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(3, 3, 3, 0.445);
}
.two-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 35px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.semi-head-pic {
  font-size: 16px;
  margin-left: 30px;
  width: 670px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.411);
}
.arrow {
  /* width: 15px;
  height: 15px; */
  border-radius: 80px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  padding: 15px;
}
.sylearrow {
  color: rgba(0, 0, 0, 0.363);
}

.aside-arrow {
  display: grid;
  grid-template-columns: 800px auto;

  gap: 280px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.link-Getstarted:link,
.link-Getstarted:active,
.link-Getstarted:hover,
.link-Getstarted:visited {
  text-decoration: none;
  border: 2px solid rgba(0, 0, 0, 0.185);
  padding: 15px 20px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 80px;
  display: inline-block;
  margin-bottom: 70px;
}

.section5 {
  background-color: #eef1f6;
  width: auto;
  height: 600px;
}

.test-2 {
  color: #fe4c71;
  font-weight: 550;
  margin-top: 60px;
  margin-bottom: 15px;
  margin-left: 60px;
  display: inline-block;
}
.head-section5 {
  font-size: 46px;
  line-height: 1;
  letter-spacing: 1px;
  line-break: loose;
}

.sime-head-section5 {
  font-size: 20px;
  color: #00000049;
  margin-top: 10px;
  margin-left: 15px;
}

.ios-1:link,
.ios-1:active,
.ios-1:hover,
.ios-1:visited {
  background-color: #0e1133;
  text-decoration: none;
  color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 70px;
  margin-left: 30px;
  font-size: 20px;
  border: 2px solid #0e1133;
}
.apple-icon {
  fill: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
}

.android-1:link,
.android-1:active,
.android-1:hover,
.android-1:visited {
  color: #0e1133;
  text-decoration: none;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 70px;
  margin-left: 10px;
  font-size: 20px;
  border: 2px solid #0e1133;
}
.android-icon {
  fill: #0e1133;
  width: 50px;
  height: 50px;
}

.head-section6 {
  color: #0e1133;
  font-size: 36px;
  font-weight: bold;
  margin: 15px;

  text-align: center;
  margin-top: 80px;
  word-wrap: break-word;
}

.semi-head-section6 {
  font-size: 20px;
  color: #00000049;
  margin-top: 5px;
  display: block;
  text-align: center;
  word-wrap: break-word;
}
.packages {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
.packages {
  border: 1px solid #3737383b;
  /* display: inline-block; */
  border-radius: 30px;
  padding: 2px;
  margin: 50px 566px;
  display: flex;
  justify-content: center;
}

.monthly-packge {
  text-decoration: none;
  background-color: #fe4c71;
  color: #fff;
  padding: 10px 25px;
  border-radius: 25px;
  display: inline-block;
}

.yearly-packge:link
/* .yearly-packge:active,
.yearly-packge:hover,
.yearly-packge:visited */ {
  text-decoration: none;
  background-color: #ffffff;
  color: #00000093;
  padding: 10px;
  border-radius: 25px;
  /* display: inline-block; */
}

.packge-detailes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px 50px;
  gap: 30px;
  margin-bottom: 150px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}
span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.281);
}
strong {
  font-size: 46px;
  color: #000;
}

.ul-packges {
  /* list-style-image: url("arrow-elbow-right-light.svg") ; */
  list-style: none;
  margin: 20px 20px;
}
.li-packge {
  margin-bottom: 10px;
}
.button-packge {
  background-color: #ffffff;
  padding: 15px 25px;
  border-radius: 60px;
  border: 1px solid rgba(5, 5, 5, 0.192);
  font-size: 12px;
  font-weight: bolder;
}
.packge2 {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.205);
  padding: 26px 26px;
  border-radius: 15px;
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
  border-top: 0.4rem solid #ff3e66;
}
.popular {
  display: inline-block;
  position: absolute;
  right: -1px;
  bottom: 312px;
  background-color: #2a6df5;
  color: #fff;
  padding: 8px 8px;
  border-radius: 30px 0 0 30px;
}
.packge1 {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.205);
  padding: 26px 26px;
  border-radius: 15px;
}
.packge3 {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.205);
  padding: 26px 26px;
  border-radius: 15px;
}
.review {
  display: grid;
  grid-template-columns: 400px auto;
  width: auto;
  height: 500px;
  background: rgb(107, 158, 194);
  background: linear-gradient(
    65deg,
    rgba(107, 158, 194, 1) 2%,
    rgba(44, 112, 245, 1) 32%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 60px 60px;
  align-items: center;
  gap: 50px;
}
.p-review {
  color: #fff;
  font-size: 24px;
  display: inline-block;
  margin-right: 55px;
}
.custmer-feedback {
  border-radius: 60px;
}
.hanson {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.web {
  color: rgba(255, 255, 255, 0.596);
  font-weight: bold;
}
.img-alig {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.p-align {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.button-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.head-platforms {
  font-size: 46px;
  color: #0e1133;
}

.sime-head-platforms {
  font-size: 20px;
  color: #00000049;
  margin-top: 10px;
  margin-left: 15px;
}

.platforms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin: 30px 30px;
}

.plat {
  border-radius: 5px;
  padding: 30px 30px;
  box-shadow: 12px 14px 28px rgb(0 0 255 / 20%);
}

.section7 {
  background-color: #eef1f6;
  margin-top: 150px;
  position: relative;
}
.knowes-appie {
  display: inline-block;
  margin: 80px 80px;
}
.knowes-logo {
  margin-bottom: 30px;
}
.p-knowes-logo {
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.61);
  font-size: 16px;
}
.anker-knowes-logo {
  text-decoration: none;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.767);
}
.social-media-logos {
  width: 40px;
  height: 40px;
  fill: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.479);
  /* padding: 15px 15px; */
  border-radius: 10px;
}
.social-media-flex {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-left: 80px;
}
.about-us {
  display: flex;
  justify-content: center;
  gap: 55px;
}
.ankers-about-us :link {
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.39);
}
.head-about-us {
  margin-bottom: 15px;
  margin-left: 0;
}
.ul-about-us {
  list-style: none;
}
.ankers-about-us-details {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.39);
  margin-left: 5px;
  font-size: 18px;
}
.info {
  width: 30px;
  height: 30px;
  color: rgba(45, 113, 250, 255);
}

.ios-2:link,
.ios-2:active,
.ios-2:hover,
.ios-2:visited {
  text-decoration: none;
  background-color: #fff;
  padding: 10px 10px;
  color: #0e1133;
  border-radius: 15px;
  display: inline-block;
  margin-left: 80px;
}
.android-2:link,
.android-2:active,
.android-2:hover,
.android-2:visited {
  text-decoration: none;
  background-color: #eef1f6;
  padding: 10px 10px;
  color: #0e1133;
  border-radius: 15px;
  border: 2px solid #00000034;
  display: inline-block;
}
.social-media-2 {
  width: 25px;
  height: 25px;
}
.copyright {
  color: rgba(0, 0, 0, 0.39);
  font-size: 21px;
  margin-left: 380px;
}
.footer-flex {
  margin-top: 200px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.last-up-arrow {
  background-color: rgba(243, 184, 200, 255);
  padding: 18px 26px;
  display: inline-block;
  border-radius: 15px;
}
.icon-arrow-up {
  color: rgba(255, 255, 255, 0.863);
  width: 20px;
  height: 20px;
  position: absolute;
  left: 120px;
  top: 120px;
}
.div-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
